In [ ]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("C:\\Users\\Dell\\Downloads\\zomato.csv")

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df = df.drop(['url','address','phone','menu_item','dish_liked','reviews_list'],axis=1)

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.drop_duplicates(inplace=True)
df.shape

In [ ]:
df['rate'].unique

In [ ]:
def removeNull(value):
    if (value == 'NEW'or value== '-'):
        return np.nan
    else :
        value = str(value).split('/')
        value = value[0]
        return float(value) 
df['rate'] = df['rate'].apply(removeNull)

In [ ]:
df['rate'].head()

In [ ]:
df.rate.isnull().sum()

In [ ]:
df['rate'] = df['rate'].fillna(df['rate'].mean())

In [ ]:
df['rate']

In [ ]:
df.rate.isnull().sum()

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.head()

In [ ]:
df= df.drop(['listed_in(city)'],axis = 1)

In [ ]:
df.head()

In [ ]:
df['location'].unique()

In [ ]:
df['approx_cost(for two people)'].unique()

In [ ]:
def removeComma(value):
    value = str(value)
    if ',' in value:
        value = value.replace(',','')
        return value
    else:
        return value
df['approx_cost(for two people)'] = df['approx_cost(for two people)'].apply(removeComma)

In [ ]:
df['approx_cost(for two people)'].unique()

In [ ]:
df.head()

In [ ]:
df['rest_type'].value_counts()

In [ ]:
rest_types = df['rest_type'].value_counts(ascending = False)
rest_types

In [ ]:
rest_typeslessthan1000= rest_types[rest_types<1000]

In [ ]:
rest_typeslessthan1000

In [ ]:
def cluster1(value):
    if(value in rest_typeslessthan1000):
        return 'others'
    else :
        return value
df['rest_type'] = df['rest_type'].apply(cluster1)
df['rest_type'].value_counts()

In [ ]:
df['rest_type'].unique()

In [ ]:
df['location']

In [ ]:
location = df['location'].value_counts(ascending = False )

In [ ]:
location_lessthan300 = location[location <300]

In [ ]:
def cluster3(value):
    if (value in location_lessthan300):
        return 'others'
    else :
        return value
df['location'] = df['location'].apply(cluster3)
df['location'].value_counts()

In [ ]:
df.head()

In [ ]:
df['cuisines'].value_counts()

In [ ]:
cuisines = df['cuisines'].value_counts(ascending = False)

In [ ]:
cuisines_lessthan100 = cuisines[cuisines<100]
def cluster4(value):
    if (value in cuisines_lessthan100):
        return 'others'
    else :
        return value
df['cuisines'] = df['cuisines'].apply(cluster4)

In [ ]:
df['cuisines'].value_counts()

In [ ]:
df['listed_in(type)'].value_counts()

# Visualization

In [ ]:
#checking highest no of restaurents

In [ ]:
plt.figure(figsize = (16,10))
ax = sns.countplot(df['location'])
plt.xticks(rotation = 90)

In [ ]:
#restaurents having online order facility

In [ ]:
plt.figure(figsize =  (6,6))
sns.countplot(df['online_order'] , palette = 'inferno')